<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzt.bus.dao.mapper.QztGoodsBannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzt.bus.model.QztGoodsBanner">
        <result column="id_" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="bus_id" property="busId" />
        <result column="banner_name" property="bannerName" />
        <result column="banner_url" property="bannerUrl" />
        <result column="order_num" property="orderNum" />
        <result column="state" property="state" />
    </resultMap>


    <!-- 通用查询方法 -->
    <select id="find" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM dgm_qzt_goods_banner
        <where>
            <if test="id != null and id != ''">
                AND id_ = #{id}
            </if>
            <if test="busId != null and busId != ''">
                AND bus_id = #{busId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
