<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzt.bus.dao.mapper.QztResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzt.bus.model.QztResource">
        <result column="id_" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="url" property="url" />
        <result column="remark" property="remark" />
    </resultMap>


    <!-- 通用查询方法 -->
    <select id="find" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM dgm_qzt_resource
        <where>
            <if test="id != null and id != ''">
                AND id_ = #{id}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT('%','${title}','%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY create_time DESC, id_
    </select>

</mapper>
